body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.big-container {
  display: flex;
  justify-content: space-around;
}

.instructions {
  color: rgb(221, 220, 220);
  font-family: Roboto, sans-serif;
  text-align: left;
  width: 20%;
  line-height: 1.6;
}

.highest {
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: 150px;
  width: 150px;
  border-radius: 150px;
  padding: 30px;
}

b {
  color:rgb(0, 0, 0);
  margin-top: 30px;
  font-size: 20px;
}

.highest p {
  font-size: 50px;
  color: black;
  font-weight: bold;
}
